@import "../../../../assets/styles/variables";

.app-header {
  position: fixed;
  z-index: 999;
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background: $color-air-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .title {
    font-size: 2em;
  }

  .datepicker {

  }
}
