@import "../assets/styles/variables";

.app-header {
  height: 100px;
  width: 100%;
  box-sizing: border-box;
  padding: 16px;
  background: $color-air-background;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &__title {
    font-size: 2em;
  }

  &__datepicker {

  }
}
