<header class="app-header">
  <div class="app-header__title">{{title}}</div>
  <div class="app-header__datepicker">
    <mat-form-field appearance="fill">
      <mat-label>Choose a date</mat-label>
      <input matInput
             [matDatepicker]="picker"
             [formControl]="selectedDate"
             (dateChange)="changeSelectedDate($event)">
      <mat-hint>MM/DD/YYYY</mat-hint>
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
</header>
<div class="router-outlet-container">
  <router-outlet></router-outlet>
</div>
