<div class="schedule-container">
  <ng-container *ngIf="!!(schedule$ | async)?.length; else noScheduledShows">
    <p>Shows found: {{(scheduleList$ | async)?.length}}</p>
    <app-schedule-item *ngFor="let scheduleItem of (scheduleList$ | async)"
                       [scheduleItem]="scheduleItem"
                       (seeDetailsId)="navigateToDetails($event)">
    </app-schedule-item>
  </ng-container>
</div>

<ng-template #noScheduledShows>
  <div class="no-scheduled-shows-info">No schedule for selected date. Please choose another date.</div>
</ng-template>
