$color-border: rgba(0, 0, 0, .12);
$color-box-shadow: rgba(66, 68, 90, 1);

$color-header-background: #dde6f0;
$color-air-background: #a8bfd9;

$color-info-light: #cff4fc;
$color-info-dark: #055160;

$color-error-light: #f8d7da;
$color-error-dark: #e25562;

$color-success-light: #d1e7dd;
$color-success-dark: #0a3622;
