@import "../../../../assets/styles/variables";

.example-card {
  border: solid 1px $color-border;
  border-radius: 4px;
  -webkit-box-shadow: 8px 8px 16px -16px $color-box-shadow;
  -moz-box-shadow: 8px 8px 16px -16px $color-box-shadow;
  box-shadow: 8px 8px 16px -16px $color-box-shadow;
  margin-bottom: 16px;
}

mat-card-header {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background: $color-header-background;
  padding:16px;

  .air-hour {
    display: flex;
    align-items: center;
    justify-content: center;
    background: $color-air-background;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 16px;
  }
  mat-card-title {
    font-size: 1.5em;
    margin-bottom: 4px;
  }
  mat-card-subtitle {
    .episode-title {
      font-style: italic;
    }
  }
}

mat-card-content {
  display: flex;
  flex-direction: row;
  padding: 0 16px;

  .cover-container {
    margin: 16px 16px 16px 0;

    img {
      height: 295px;
    }
  }

  .schedule-container {
    padding-top: 16px;
  }
}

mat-card-actions {
  padding: 16px;
}
